*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color:  #F2F2F2;;
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1920px;
    width: 90%;
    padding: 10px;
    
}
header ul {
    padding-top: 10px;
    display: flex;
    align-items: center;
}
header ul li  {
    margin-left: 10px;
    color: black;
    font-size: 14px;
    font-family:'main-font';
    font-style: normal;
    font-weight: 400px;
    
}
ul li a{
    color: #000000;
}
header button{
    width: 156px;
    height: 47px;
    background-color: #29B24E;
    border: none;
    border-radius: 12px;
}
header button p{
    color: #000000;
    font-family: 'Young Serif', serif;
    font-family:'main-font';
}

ul li a:hover {
    border-bottom: 1px solid  #29B24E;
    width: 42px;
    height: 12px;
    font-size: 20px ;
    transition: 0.2s ease-in-out;
  }
  header button:hover{
    background-color: rgb(131, 156, 202);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    font-size: 20px;
    width: 200px;
    height: 55px;
    transition: 0.3s ;
    letter-spacing: 2px;
  }

  
.home-first{
    max-width: 1920px;
    width: 90%;
    margin: 0 auto;
    height: 751px;
    background-color: rgb(198, 231, 206);
    display: flex;
    justify-content: center;
    z-index: -1;
}
.filter-home{
   width: 395px;
   height: 751px; 
   border-radius: 24px;
   background: #F8F8F8;
   box-shadow: 0px 4px 25px 0px rgba(194, 194, 194, 0.31);
}
.search img{
    border-radius: 24px;
}
.tower{
   width: 100%; 
   height: 100%;
   object-fit: cover;
}
@media  (max-width: 375px){
    nav {
        display: none;
    }
    .home-first{
        display: flex;
        flex-direction: column-reverse;
        max-width: 90%;
        margin: 0 auto;
        padding: 10px;
    }
}
.location-head{
    display: block;
    width: 90%;
    height: 148px;
    margin: 0 auto;
    background-color:#F8F8F8;;
    /* position: relative; */
}
.location-head h4{
  margin-left: #F8F8F8;
  margin-top: 32px;
  margin-left: 18px;
  font-family: 'main-font' ;
}
.location{
    width: 90%;
    height: 48px;
    margin: 0 auto;
    padding-top: 35px;
    border-radius: 10px;
    border: 1px solid rgba(13, 156, 164, 0.21);
    background: #F8F8F8;
    display: flex;
    justify-content: space-between;
}
.location p{
    margin-top: -20px;
    margin-left: 18px;
}
.location img{
    width: 16px;
    height: 16px;
    margin-top: -20px;
    margin-right: 18px;
}
.property{
    max-width: 400px;
    margin: 0 auto;
    
}
.property-list{
     width: 90%;
     height: 20px;
     background-color:#F8F8F8;;
     margin: 5px auto;
     display: flex;
     flex-direction: row;
}
.property-choose{
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1.4px solid #29B24E;
    opacity: 0.9;
    margin-right: 15px;
}
.Price{
    max-width: 400px;
    margin: 0 auto;
}
.Price-range{
    width: 90%;
     height: 20px;
     background-color: #F8F8F8;;
     margin: 5px auto;
     display: flex;
     flex-direction: row;
}
.Price-cost{
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 1.4px solid #29B24E;
    opacity: 0.9;
    margin-right: 15px;
}
.search{
    display: relative;
    width: 1225px;
    height: 751px;
    margin-left: 20px;
    border-radius: 24px;
    background-color: antiquewhite;
  }
  .tower{
    z-index: -1;
  }
  .search h1{
    margin-top: -700px;
    margin-left: 230px;
    font-family: Poppins;
    font-size: 48px;
     font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .search h3 {
    color: rgba(0, 0, 0, 0.80);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
    margin-left: 400px;
  }
  .image-search{
    width: 324px;
    height: 48px;
    border-radius: 10px;
    background: rgba(248, 248, 248, 0.80);
    box-shadow: 0px 4px 10px 0px rgba(124, 124, 124, 0.27);
    z-index: 3;
    margin-left: 400px;
    margin-top: 20px;
  }
  .second-homes{
    max-width: 90%;
    width: 1920px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
  }
  .home{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: #F8F8F8;
    border-radius: 24px;
  }
  .home img {
    width: 250px;
    height: 150px;
    margin-left: 20px;
  }
  .home h5{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
  }
  /* .home p :nth-child(1){
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-left: 50px;
  } */
  .location-house{
    margin-left: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
  }
  .money{
    color: #29B24E;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 120px;
  }
  
  .rooms{
    margin-top: 20px auto;
    width: 250px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #CFEAD6;
  }
  .rooms p{
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: auto;
    margin-left: 20px;
    margin-top: 20px;
  }footer{
    margin-top: 120px;
    background-color: green;
  }